body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.discover_text {

  font-size: 36px;
  padding-left: 25px;
  font-weight: 700;
  letter-spacing: -2.2px;
  font-family: 'Montserrat', sans-serif;
}

.discover_text {

  font-size: 36px;
  padding-left: 25px;
  font-weight: 700;
  letter-spacing: -2.2px;
  font-family: 'Montserrat', sans-serif;
}


.dropdown_fields_main {

  width: 90%;
  height: 45px;
  color: #B0A7A7;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  padding-left: 10px;
  margin: 20px 5%;
  background-color: white;
}

.form_secondary {

  width: 90%;
  height: 45px;
  color: #B0A7A7;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding-left: 10px;
  margin: 20px 5%;
}

.field_selected {

  display:none;
}
