
#logo {
  padding-left: 15px;
}


.logo_green {

  color: #07C372;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-left: 15px;
}


.logo_black {

  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.finder {

  font-weight: lighter;
}
