.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 10px 70px; /* Change for desktop 95px */
  border-radius: 2px;
  padding-top: 10px;
  margin-bottom: 25px;
}

.btn-pagination {
  color: #222;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  border: none;
   /* Change for desktop erase */
}

.btn-pagination:hover, .btn-pagination:focus {

  outline: none;
}

.btn-pagination-active {

  background-color: #07C372;
  border-radius: 100%;
  color: #fff;
}

.pagination-hidden {
  display:none;
}

