.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: space-around;
}
.tabs a {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 50%;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #F5A623;
}

.tab.active {
  color: #333333;
  font-weight: 500;
  border-bottom: 5px solid #F5A623;
}
