.user_field  {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 0;
  padding-top: 5px;
  margin-top: 5px;
  font-style: italic;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.company_header {
  font-size: 20px;
  display: inline-block;
  margin: 10px 10%;
  margin-top: 35px;
  margin-left: 45px;
}

.average_wage {
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
}

.doing_well {
  color: #07C372;
  font-variant: small-caps;
  font-weight: bold;
  font-family: 'Avenir Next', sans-serif;
}

.ask_more {
  color: #ffb100;
  font-variant: small-caps;
  font-weight: bold;
  font-family: 'Avenir Next', sans-serif;
}

#badges-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#your-wage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #07C372;
}

#field-wage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #979797;
}

#your-wage h6 {
  color: #f4f4f4;
}

.company-average-header {
  padding-top: 20px;
}


.fa-user {

  font-size: 56px;
  color: white;
}

.fa-users {

  font-size: 56px;
}
