<div class="index-wrapper">
  <%= render 'shared/logo' %>
  <%= render 'shared/tabs' %>

  <!-- <div class="chart-container"> -->
    <%= render 'shared/charts' %>
  <!-- </div> -->
</div>


<%= button_to 'Logout', destroy_registration_session_path, method: :delete %>
