<div class="index-wrapper">
  <%= render 'shared/logo' %>
  <%= render 'shared/tabs' %>

  <%= render 'shared/charts' %>
  <%= button_to 'Logout', destroy_registration_session_path, method: :delete %>
</div>
