<div class="index-wrapper">
  <%= render 'shared/logo' %>

  <div class="index-less-button">
    <h6 class="user_field"><%=  current_user.wage.field.name %> </h6>

    <%= image_tag("infographic.png")%>


    <h6> 1yr $37,000</h6>
    <h6> 5yr $45,000</h6>
    <h6> 10yr $65,000 </h6>
  </div>
  <button id="browse" style="border: 1px solid black" class="btn">
    Browse Companies
  </button>
</div>
