
<div class="pagination">
 <% num = @company_data.length.to_f/6 %>
 <% num.ceil.times do |i| %>
   <button class="btn-pagination" onClick="clickHandler(event)"><%= i + 1 %></button>
 <% end %>
</div>
