<table class="info_table" border="1" cellpadding="8" cellspacing="0" bordercolor="#dddddd">
  <tbody>
    <% count = 0 %>
    <% bundle_count = 1 %>
    <% @companies.each do |company| %>
      <tr class="<%= bundle_count  %> pagination-hidden company-wage-info">
        <td><%= company.name %></td>
        <td>$58,000</td>
      </tr>
      <% count += 1 %>
      <% if count == 6 %>
        <% bundle_count += 1 %>
        <% count = 0 %>
      <% end %>
    <% end %>
  </tbody>
</table>
