<table class="info_table" border="1" cellpadding="8" cellspacing="0" bordercolor="#dddddd">
  <tbody>
    <tr>
      <td>Apple</td>
      <td>$58,000</td>
    </tr>
    <tr>
      <td>Pear</td>
      <td>$75,000</td>
    </tr>
    <tr>
      <td>Grape</td>
      <td>$98,000</td>
    </tr>
    <tr>
      <td>Orange</td>
      <td>$48,000</td>
    </tr>
  </tbody>
</table>
