<table class="info_table" border="1" cellpadding="8" cellspacing="0" bordercolor="#dddddd">
  <tbody>
    <% count = 0 %>
    <% bundle_count = 1 %>
    <% @company_data.each do |company, avg| %>
      <tr class="<%= bundle_count  %> pagination-hidden company-wage-info">
        <td><%= company %></td>
        <td><strong><%= number_with_delimiter(avg) %>€<strong></td>
      </tr>
      <% count += 1 %>
      <% if count == 6 %>
        <% bundle_count += 1 %>
        <% count = 0 %>
      <% end %>
    <% end %>
  </tbody>
</table>
