

<div class="front_wrapper">
  <div id="logo">
    <div class="logo_green">
      <h3> Wage </h3>
    </div>
    <div class="logo_black">
      <h3 class="finder"> Finder</h3>
    </div>
  </div>


  <h1 class="discover_text"> Discover</br> your field's</br> average wage</h1>

  <%= render 'shared/form_main' %>

<!--   <div>
    <a href="" class="btn"></a>
  </div> -->

</div>
